/* Make header and navbar stick to the top */

 .top-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  z-index: 1000;
  left: 0;
  width: 100%;
  background: rgb(33, 37, 41) ;
  box-shadow: 0 2px 8px rgba(0,0,0,0.08);
  padding-top: 24px;
  padding-bottom: 24px; 
}

 .site-title {
  text-align: center;
  margin: 0;
  padding: 0;
  font-family: 'Roboto Mono', monospace;
  font-weight: 700;
  letter-spacing: -0.03em;
  color: #fff;
  border-bottom: 2px solid #fff;
  display: inline-block;
  line-height: 1.1;
  font-size: 2rem;
  background: rgb(33, 37, 41);
  margin-bottom: 0;
}

.nav-bar .nav {
  display: flex !important;
  flex-direction: row !important;
  justify-content: center;
  align-items: center;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
  padding-top: 16px;
  padding-bottom: 16px;
}
